* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10rem;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  animation: fadeIn 2s ease-in-out;
}

span {
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  animation: slideIn 2s ease-in-out;
  margin-bottom: 100px;
}

.btn {
  display: inline-block;
  padding: 15px 45px;
  font-size: 1rem;
  color: #2575fc;
  background-color: white;
  border: 2px solid #2575fc;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #ff4081;
  color: white;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
